{% extends "base.html" %}
{% block title %}URL Shortener{% endblock %}

{% block content %}
<h1>URL Shortener</h1>
<center>
    <hr>
    <br>
    <form action="/" , method="post">
        <label for="url_link">Please Enter the URL</label>
        <br><br>
        <input type="url" name="url_link" id="url_link" placeholder="https://domain.com" size="50">
        <br><br>
        <input type="submit" value="Short URL" class="btn btn-primary">
    </form>
    <br>
    {% if short_url_display %}
    <hr>
    <h2>Copy the Short URL</h2>
    <br>
    <h4>http://127.0.0.1:5000/{{short_url_display}}</h4>

    {% endif %}
</center>
{% endblock %}